<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kh_sof_dev.tasoug">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.Activities.Expenses"></activity>
        <activity android:name=".Views.Activities.Electronique_bayment" />
        <activity android:name=".Views.Activities.Box" />
        <activity android:name=".Views.Activities.Term_and_conditions" />
        <activity android:name=".Views.Activities.Bonod_expenses" />
        <activity android:name=".Views.Activities.Store_info" />
        <activity android:name=".Views.Activities.Add_product" />
        <activity android:name=".Views.Activities.Edite_product" />
        <activity android:name=".Views.Activities.Product_details" />
        <activity android:name=".Views.Activities.Fornisieur_details" />
        <activity android:name=".Views.Activities.Client_details" />
        <activity android:name=".Views.Activities.Order_details" />
        <activity android:name=".Views.Activities.Login_activity" />
        <activity android:name=".Views.Activities.Seplesh_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.Activities.MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>